tags
.stack-work
static/public/reload.trigger
*/.stack-work
*/.hie
.hifiles/
*/dist-newstyle
*/target
target
**/target
**/*/target
**/*/.stack-work
.halive
node_modules/
web-components/node_modules
static/assets/.DS_Store
static/assets/css/tailwind.min.css
static/public/assets/css/tailwind.min.css
.hie
.hiefiles
.hiedb
dist-newstyle
.env
env
.vscode
/logs/
apitoolkit-server-exe
gha-creds-*.json
.DS_Store
**/*/.DS_Store
.tmp/
testkit
coverage
errors.err
apitoolkit-server-exe*
.hiedb-shm
.hiedb-wal
stack.yaml.local
static/public/assets/web-components/dist/
.ghc.environment.aarch64-darwin-9.10.2
