name: Build and Test PR

on: pull_request

env:
  LANG: C.UTF-8

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
      # Cache Haskell dependencies
      - name: Cache Haskell dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-test-${{ hashFiles('**/*.cabal', '**/cabal.project*') }}
          restore-keys: |
            ${{ runner.os }}-test-

      - name: Install OpenSSL, protoc and snappy
        run: sudo apt-get update && sudo apt-get install -y libssl-dev librdkafka-dev libgrpc-dev>=1.55 protobuf-compiler libsnappy-dev # or "brew install openssl" for macOS
      - name: Set OpenSSL Paths
        run: |
          export OPENSSL_INCLUDE_DIR=$(pkg-config --variable=includedir openssl)
          export OPENSSL_LIB_DIR=$(pkg-config --variable=libdir openssl)
      - name: Setup node env
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - run: npx tailwindcss -i ./static/public/assets/css/tailwind.css -o ./static/public/assets/css/tailwind.min.css --minify
      - name: Build web-components
        run: |
          cd web-components
          npm install
          npm run build

      - name: Generate required static files
        run: |
          # Create directories if they don't exist
          mkdir -p static/public/assets/css
          mkdir -p static/public/assets/web-components/dist/js
          mkdir -p static/public/assets/web-components/dist/css

          # Install dependencies and build Tailwind CSS
          npm install
          npx tailwindcss -i ./static/public/assets/css/tailwind.css -o ./static/public/assets/css/tailwind.min.css --minify

          # Build web components
          cd web-components
          npm install
          NODE_ENV=production npx vite build --mode production --sourcemap false
          cd ..

      - name: Update cabal index
        run: cabal update

      - name: Configure project
        run: cabal configure --enable-tests --enable-benchmarks --ghc-options="-O0 -j8"

      - name: Build dependencies
        run: cabal build --only-dependencies all -j4

      - name: Build ${{ matrix.test }}
        run: cabal build ${{ matrix.test }} -j4

      - name: Run ${{ matrix.test }}
        env:
          USE_EXTERNAL_DB: true
        run: |
          echo "::group::Running ${{ matrix.test }}"
          cabal test ${{ matrix.test }} --ghc-options="-O0 -j8" --test-show-details=direct
          echo "::endgroup::"

  ui-tests:
    name: UI Tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup node env
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Run UI tests
        run: |
          cd web-components
          npm install
          npm test
